# Prerequisites
/node_modules/
/dist/
/.env
/.env.local
/.env.*.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
